@font-face {
    font-family: bradford;
    src: url(/assets/BradfordMonoLLTrialWeb-Regular.woff2);
  }
html, body {
    margin: 5%;
    font-family: bradford;
}
ul {
display: none;
}

#keratin span{
    font-family: bradford;
    color: black;
    /* background-color: yellow; */
    animation-name: keratinAnimation;
    animation-duration: 2s;
    animation-play-state: paused;
}
#keratin span:hover{
    animation-play-state: running; 
} 
@keyframes keratinAnimation {
    0%   {font-size: 20px;}
    100% {font-size: 1px;
          visibility: hidden;}
}

#keratin2 {
    text-align: center;
}
#keratin2 span{
    font-family: bradford;
    color: black;
    /* background-color: yellow; */
    animation-name: keratinAnimation2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#keratin2 span:hover{
    background-color: yellow;
    animation-play-state: paused;
} 

::selection {
    color: red;
    background: yellow;
  }
@keyframes keratinAnimation2 {
    0%   {font-size: 20px;
          line-height: 20px;
    }
    100% {font-size: 100px;
          line-height: 3px;
    }
}

#cityHair span{
    font-family: bradford;
    /* color: white; */
    animation-name: cityHairAnimation;
    animation-duration: 1.5s;
    animation-play-state: paused;
}
#cityHair span:hover {
    /* animation-name: cityHairAnimation;
    animation-duration: 10s;
    animation-play-state: running;  */
    animation-play-state: running; 
    transition-delay: 2ms;
    /* color: black; */
    
}
@keyframes cityHairAnimation {
    0%   {filter: blur(0px);
          font-size: 18px;
    opacity: 0;
}
    100% {filter: blur(7px);
          font-size: 70px;
    opacity: 100;
}
  }